name: tests

on:
  push:
  pull_request:

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: mbstring, dom, sqlite, pdo_sqlite
          coverage: xdebug

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Prepare .env.testing
        run: |
          cp .env .env.testing
          php artisan key:generate --env=testing
          sed -i 's/^DB_CONNECTION=.*/DB_CONNECTION=sqlite/' .env.testing || true
          sed -i 's/^DB_DATABASE=.*/DB_DATABASE=:memory:/' .env.testing || echo "DB_DATABASE=:memory:" >> .env.testing

      - name: Run tests with coverage
        env:
          XDEBUG_MODE: coverage
        run: php artisan test --coverage --min=80
